* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  /*background-color: #252730;*/
}

h2 {
  font-weight: normal;
}

.header {
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-direction: row;*/
  /*background-color: #99CBC8; light blue*/
  /*background-color: #252730; dark blue */
  /*background-image: url('./media/bethjaw-header-dark.png');*/

}

.headname {
  font-family: 'Spicy Rice', cursive;
  font-size: 40px;
  color: #252730;
  /*color: #e2dedf;*/
}

.subhead {
  font-size: 22px;
  color: #99CBC8;
}

.logo{
  padding: 50px;
}

.main{
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background-image: url('./media/bethjaw-header-light.png');
  border: 2px solid black; */
}

.intro {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 10px 40px 0 40px;
  width: 800px;
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

.title {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.work {
  height: 800px;
}

.projects {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}

.capstone, .interestings, .fable, .roofstops {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  padding: 10px;
  margin: 10px;
}

.contact {
  text-align: center;
  padding: 50px;
}

.email {
  margin-bottom: 10px;
}

.footer {
  flex: 1 0 auto;
  background-color: #252730;
  color: #99CBC8;
  height: 200px;
  width: 100vw;
  padding-top: 10px;
}

.copy {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .headname {
    padding-top: 100px;
  }

  .logo{
    padding: 10px;
  }

  .intro {
    text-align: center;
    padding: 10px;
    margin-left: 5px;
  }

  .bio {
    width: 350px;
  }

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .projects {
   background-color: rgba(72, 70, 78, 0.2);
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 20px;
 }

 .interest-image, .fable-image, .roof-image {
   background-repeat: no-repeat;
   background-size: contain;
   height: 250px;
   margin: 10px 0 0 10px;
 }

 .proj-name {
   font-weight: bold;
 }

 .project-des {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 375px;
   margin-left: 10px;
   background-color: #FFF;
 }

 /*.imageoverlay {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
   width: 300px;
   height: 200px;
   background-color: rgba(181, 181, 181, 0.5);
 }*/


  .icon {
    width: 30px;
  }

  .icon:hover {
    background-color: rgba(38, 40, 49, 0.5);
    border-radius: 50%;
  }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .projects {
    background-color: rgba(72, 70, 78, 0.2);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .interest-image, .fable-image, .roof-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    margin: 10px 0 0 10px;
  }

  .proj-name {
    font-weight: bold;
  }

  .project-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 375px;
    margin-left: 10px;
    background-color: #FFF;
  }

  /*.imageoverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 376px;
    height: 250px;
    background-color: rgba(181, 181, 181, 0.5);
  }*/

  .icon {
    width: 30px;
  }

  .icon:hover {
    background-color: rgba(38, 40, 49, 0.5);
    border-radius: 50%;
  }


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .work {
    background-color: rgba(72, 70, 78, 0.1);
    height: fit-content;
    padding-bottom: 20px;
  }

  .interest-image, .fable-image, .roof-image, .cap-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin-left: 10px;
  }

  .project-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #FFF;
    /*border: 2px solid black;*/
  }

  .proj-name {
    font-weight: bold;
  }

  /*.imageoverlay:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 600px;
    height: 400px;
    background-color: rgba(181, 181, 181, 0.8);
  }*/

  .icon {
    width: 40px;
    padding-top: 5px;
  }

  .icon:hover {
    background-color: rgba(38, 40, 49, 0.5);
    border-radius: 50%;
  }

  .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-image: url('./media/bethjaw-header-dark.png');*/
    height: 180px;
    font-size: 18px;
  }

}
