* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.header {
  height: 400px;
  width: 100vw;
  background-color: #252730;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navItem {
  color: #99CBC8;
  padding: 25px;
}

.namelogo {
  display: flex;
  justify-content: center;
  padding-top: 75px;
}

h2, .logoDiv {
  padding-left: 30px;
  padding-top: 50px;
}

.intro {
  height: 400px;
  width: 50%;
  display: flex;
}

.work {
  background-color: lightgrey;
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  height: 200px;
  width: 100vw;
}

.footer {
  flex: 1 0 auto;
  background-color: #252730;
  color: #99CBC8;
  height: 200px;
  width: 100vw;
  padding-top: 10px;
}

.copy {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.formDiv {
  display: flex;
  justify-content: center;
}

button {
  align-self: center;
  width: 150px;
  margin-top: 10px;
  background-color: #252730;
  color: #FFF;
  height: 40px;
  border-radius: 4px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .interestings {
   background-image: url('./media/interestings.png');
 }

 .fable {
   background-image: url('./media/fableforum.png');
 }

 .interestings, .fable {
   background-repeat: no-repeat;
   background-size: contain;
   width: 350px;
   height: 200px;
   text-align: center;
   margin-top: 10px;
   /*border: 2px solid blue;*/
 }

 .imageoverlay {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
   width: 350px;
   height: 178px;
   background-color: rgba(181, 181, 181, 0.5);
 }


  .icon {
    width: 30px;
  }

  .icon:hover {
    background-color: rgba(38, 40, 49, 0.5);
    border-radius: 50%;
  }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .work {
    display: flex;
    flex-direction: column;
  }

  .interestings {
    background-image: url('./media/interestings.png');
  }

  .fable {
    background-image: url('./media/fableforum.png');
  }

  .interestings, .fable {
    background-repeat: no-repeat;
    background-size: contain;
    width: 390px;
    height: 250px;
    /*border: 2px solid black;*/
  }

  .imageoverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 390px;
    height: 198px;
    background-color: rgba(181, 181, 181, 0.5);
  }

  .icon {
    width: 30px;
  }

  .icon:hover {
    background-color: rgba(38, 40, 49, 0.5);
    border-radius: 50%;
  }


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .interestings {
    background-image: url('./media/interestings.png');
  }

  .fable {
    background-image: url('./media/fableforum.png');
  }

  .interestings, .fable {
    background-repeat: no-repeat;
    background-size: contain;
    width: 488px;
    height: 250px;
    margin: 10px;
  }

  .imageoverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 488px;
    height: 250px;
    background-color: rgba(181, 181, 181, 0.5);
  }


  .icon {
    width: 40px;
  }

  .icon:hover {
    background-color: rgba(38, 40, 49, 0.5);
    border-radius: 50%;
  }

}
